.DS_Store
.ipynb_checkpoints
.venv
uv.lock

Mikhail Bahdashych Lab6 Ladownik
test_data

models/CartPole-v1_0.0001_critic_author/*
!models/CartPole-v1_0.0001_critic_author/model_1625_critic.keras
!models/CartPole-v1_0.0001_critic_author/model_1625_actor.keras

models/CartPole-v1_0.0001_static/*
!models/CartPole-v1_0.0001_static/model_1600.keras

models/CartPole-v1_0.01_static_small/*
!models/CartPole-v1_0.01_static_small/model_1775.keras

models/CartPole-v1_0.0001_static_small/*
!models/CartPole-v1_0.0001_static_small/final.keras

models/CartPole-v1_1e-05_critic_author/*
!models/CartPole-v1_1e-05_critic_author/final_actor.keras
!models/CartPole-v1_1e-05_critic_author/final_critic.keras

models/CartPole-v1_1e-05_static/*
!models/CartPole-v1_1e-05_static/final.keras

models/CartPole-v1_1e-05_static_small/*
!models/CartPole-v1_1e-05_static_small/final.keras

models/LunarLander-v3_5e-06/*
!models/LunarLander-v3_5e-06/final.keras
